<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PRJ-321x_A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeJSP</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeJSP</servlet-name>
    <url-pattern>/our_mobile_phones_homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminJSP</servlet-name>
    <jsp-file>/admin/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminJSP</servlet-name>
    <url-pattern>/admin_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginJSP</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJSP</servlet-name>
    <url-pattern>/login_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterJSP</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJSP</servlet-name>
    <url-pattern>/register_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchJSP</servlet-name>
    <jsp-file>/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJSP</servlet-name>
    <url-pattern>/search_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoJSP</servlet-name>
    <jsp-file>/info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoJSP</servlet-name>
    <url-pattern>/product_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartJSP</servlet-name>
    <jsp-file>/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartJSP</servlet-name>
    <url-pattern>/user_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderJSP</servlet-name>
    <jsp-file>/orderlize.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderJSP</servlet-name>
    <url-pattern>/user_orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>productsController.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayController</servlet-name>
    <servlet-class>productsController.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/pay_controller</url-pattern>
  </servlet-mapping>
</web-app>